<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Trip Planner</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<span>Hotels:</span>
<select>
	{% for hotel in hotels %}
	<option>{{hotel.name}}</option>
	{% endfor %}
</select>
<span>Restaurants:</span>
<select>
	{% for restaurant in restaurants %}
	<option>{{restaurant.name}}</option>
	{% endfor %}
</select>
<span>Activities</span>
<select>
	{% for activity in activities %}
	<option>{{activity.name}}</option>
	{% endfor %}
</select>


</body>
</html>
